.page {
    height: 750px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0 20px;
}

.canvas {
    border: 2px solid cadetblue;
}

body {
    margin: 0;
}
